.wrapper {
  margin-bottom: 50px;
}

h2 {
  margin-bottom: 25px;
}

/* gw-ui.select
 ------------------- */
gw-select li > a,
.gw-select li > a {
  cursor: pointer;
}

gw-select-find > input,
.gw-select > input {
  text-align: left;
  cursor: text;
  border-color: #ccc;
}

gw-select-find > input:active,
.gw-select > input:active,
gw-select-find > input.active,
.gw-select > input.active {
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* Fixed width */
.fixed-width {
  float: none;
  margin-left: 0;
}

.fixed-width .dropdown-toggle {
  width: 100%;
  padding-right: 25px;
}

.fixed-width .current {
  overflow: hidden;
  width: 100%;
  text-align: left;
}

/* gw-ui.select-tree
 -------------------- */
.gw-select-tree li > a {
  cursor: pointer;
  display: inline;
  padding: 0 5px;
}

.gw-select-tree li > a:hover,
.gw-select-tree li > a:focus {
  background: none;
  text-decoration: underline;
}

.gw-select-tree span.glyphicon {
  display: inline;
  font-size: 12px;
}

.gw-select-tree li {
  padding: 3px 10px;
}

.gw-select-tree span.hide-glyph {
  color: transparent;
}