<!DOCTYPE html>
<html ng-app="gw-ui">
    <head>
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic'>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>geowiz-ui examples</title>
        <link rel="stylesheet" href="vendor/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body ng-controller="mainCtrl">
        <div class="container">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h1>Examples of geowiz-ui elements</h1>
                <p class="lead">This page shows a set of live examples for the geowiz-ui AngularJS module.</p>
                <hr/>
                <div class="wrapper">
                    <h2 id="select"><a href="#select">#</a> gw-ui.select</h2>
                    <p><code>&lt;gw-select gw-width="250" gw-selected="models.municipality" gw-elements="municipalities" gw-label="name"&gt;</code></p>
                    <pre>models.municipality = {{ models.municipality | json }}</pre>
                    <gw-select gw-width="250" gw-selected="models.municipality" gw-elements="municipalities" gw-label="name"></gw-select>
                </div>
                <div class="wrapper">
                    <h2 id="selectFilter"><a href="#selectFilter">#</a> gw-ui.select w/ filtering</h2>
                    <p><code>&lt;gw-select gw-filter="qYear.year" gw-show="true" gw-selected="models.municipality" gw-elements="municipalities" gw-label="name"&gt;</code></p>
                    <pre>qYear = {{ qYear }}</pre>
                    <label>Filter by year: </label><select ng-model="qYear" ng-options="y.year for y in years"></select><br/>
                    <label>Show menu: </label><input ng-model="models.showMenu" type="checkbox"/><br/>
                    <gw-select gw-filter="qYear.year" gw-show="models.showMenu" gw-selected="models.municipality" gw-elements="municipalities" gw-label="name"></gw-select>
                </div>
                <div class="wrapper">
                    <h2 id="selectTree"><a href="#selectTree">#</a> gw-ui.select-tree</h2>
                    <p><code>&lt;gw-select-tree gw-selected="models.indicator" gw-elements="indicators" gw-tree="indicatorTree" gw-label="name"&gt;</code></p>
                    <gw-select-tree gw-selected="models.indicator" gw-elements="indicators" gw-tree="indicatorTree" gw-label="name"></gw-select-tree>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="vendor/js/jquery-1.11.1.js"></script>
        <script type="text/javascript" src="vendor/js/bootstrap.js"></script>
        <script type="text/javascript" src="vendor/js/angular.js"></script>
        <script type="text/javascript" src="js/gw-ui.select.js"></script>
        <script type="text/javascript" src="js/gw-ui.select-tree.js"></script>
        <script type="text/javascript">
            (function () {
                angular.module("gw-ui", ['gw-ui.select', 'gw-ui.select-tree']).
                    controller("mainCtrl", ['$scope', function ($scope) {
                        // Sample data
                        $scope.municipalities = [
                            {name: "Municipality", code: 1, years: [2014, 2015, 2016]},
                            {name: "Muni", code: 10, years: [2014, 2015, 2016]},
                            {name: "Municipality with large name", code: 123, years: [2015, 2016]},
                            {name: "Just another", code: 1001, years: [2014, 2015, 2016]}
                        ];
                        $scope.years = [{year: 2014}, {year: 2015}, {year: 2016}];
                        $scope.models = {
                            showMenu: false,
                            municipality: $scope.municipalities[0],
                            year: $scope.years[0],
                        };
                        $scope.indicators = {
                            ind0: {},
                            ind1: {},
                            ind2: {},
                            ind10: {},
                            ind11: {},
                        };

                        $scope.indicatorTree = {
                            root: [
                                {indicator: 'ind0', name: 'Indicator #0', isExpanded: false, children: []},
                                {
                                    isExpanded: false,
                                    indicator: 'ind1',
                                    name: 'Indicator #1 With Things',
                                    children: [
                                        {isExpanded: false, indicator: 'ind10', name: 'Indicator #1.0', children: []},
                                        {isExpanded: false, indicator: 'ind11', name: 'Indicator #1.1', children: []},
                                    ]
                                },
                                {isExpanded: false, indicator: 'ind2', name: 'Indi #2', children: []},
                            ]
                        };
                }]);
            })();
        </script>
    </body>
</html>
